Hey, {{ username }}!<br/>
<br/>
A password reset has been requested for your e-mail and I'd like to let you know that it's been carried out.<br/>
<br/>
Your new password is: {{ password }}.<br/>
<br/>
Please try to log into Volky using this password. Once you login, you can change your password to one of your like by going to 'Settings' and then 'Change Password'.<br/>
<br/>
That's it! Should you have any further problems, please feel free to howl to our support wolves at team@miceware.co.<br/>
<br/>
Owooooo!<br/>
<br/>
Volky the Wolf
